.bill-winner-widget-body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.bill-winner-widget-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 16px;
  background-color: #1C6EE3;
  color: #fff;
}

.bill-winner-widget-wrapper.small {
  max-width: 258px;
}

.bill-winner-widget-wrapper.small .bill-winner-widget-form {
  flex-direction: column;
}

.bill-winner-widget-wrapper.small .bill-winner-button {
  width: 100%;
}

.bill-winner-widget-wrapper.medium {
  align-items: center;
  max-width: 838px;
}

.bill-winner-widget-wrapper.medium .bill-winner-widget-form {
  align-items: flex-end;
}

.bill-winner-widget-wrapper.medium .bill-winner-widget-title {
  margin-top: 8px;
}

.bill-winner-widget-wrapper.medium .bill-winner-widget-form-item {
  width: 165px;
  max-width: 100%;
}

.bill-winner-widget-wrapper.medium .bill-winner-button {
  width: 100%;
}

.bill-winner-widget-form {
  display: flex;
  gap: 8px;
}

.bill-winner-widget-title {
  font-size: 22px;
  font-weight: 700;
}

.bill-winner-custom-select-container {
  position: relative;
  width: 100%;
}

.bill-winner-custom-select-label {
  font-size: 12px;
  font-weight: 700;
}

.bill-winner-custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 8px 0 8px 8px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.bill-winner-custom-select-container::after {
  content: url("assets/select-arrow.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  height: 24px;
  transform: translateY(-50%);
  pointer-events: none;
}

.bill-winner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 6px 16px;
  background-color: #F8B500;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.bill-winner-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
}

.bill-winner-loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1C6EE3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}